<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <h1>Danh sách các môn học</h1>
        <div class="subject-container">
            <table class="subject-table">
                <thead>
                    <th>STT</th>
                    <th>Tên môn học</th>
                    <th>Loại môn học</th>
                    <th>Học kỳ</th>
                    <th>Khoa</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Cơ sở dữ liệu</td>
                        <td>Cơ sở</td>
                        <td>HK1-2020-2021</td>
                        <td>K.CNTT</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Cấu trúc dữ liệu</td>
                        <td>Cơ sở</td>
                        <td>HK1-2020-2021</td>
                        <td>K.CNTT</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Công nghệ phần mềm</td>
                        <td>Cơ sở ngành</td>
                        <td>HK1-2020-2021</td>
                        <td>K.CNTT</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Công nghệ mới</td>
                        <td>Chuyên ngành</td>
                        <td>HK1-2020-2021</td>
                        <td>K.CNTT</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Đồ án môn học</td>
                        <td>Chuyên ngành</td>
                        <td>HK1-2020-2021</td>
                        <td>K.CNTT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
